<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--default-init-method="init"
    default-destroy-method="destroy"-->
    <bean id="bumblebee" class="com.example.spring3.RobotBuildSpring.RobotBuild.Robot.Bumblebee"
          p:hand-ref="handLg"
          p:leg-ref="legLg"
          p:head-ref="headLg"
          init-method="init"
          destroy-method="destroy"
    scope="prototype">
        <constructor-arg value="orange" type="java.lang.String" index="0"/>
        <constructor-arg value="2021" type="int" index="1"/>
        <constructor-arg value="true" type="boolean" index="2"/>

        <!--          <property name="hand" ref="HandLg"/>-->
        <!--          <property name="leg" ref="LegLg"/>-->
        <!--          <property name="head" ref="HeadLg"/>-->

    </bean>
    <bean id="handSony" class="com.example.spring3.RobotBuildSpring.RobotBuild.ManyParts.Sony.HandSony"/>
    <bean id="headSony" class="com.example.spring3.RobotBuildSpring.RobotBuild.ManyParts.Sony.HeadSony"/>
    <bean id="legSony" class="com.example.spring3.RobotBuildSpring.RobotBuild.ManyParts.Sony.LegSony"/>

    <bean id="handLg" class="com.example.spring3.RobotBuildSpring.RobotBuild.ManyParts.Lg.HandLg"/>
    <bean id="headLg" class="com.example.spring3.RobotBuildSpring.RobotBuild.ManyParts.Lg.HeadLg"/>
    <bean id="legLg" class="com.example.spring3.RobotBuildSpring.RobotBuild.ManyParts.Lg.LegLg"/>

</beans>
